<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @person.names %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Mothername:</strong>
  <%= @person.mothername %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @person.birthdate %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
